  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title><%= APP_TITLE %> - Login</title>
      <style>
      .tabs .indicator
      {
        background-color: #e0f2f1;
        height: 60px;
        opacity: 0.3;
      }
      </style>
    </head>

    <body>
      <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper blue accent-4">
          <a href="/" class="brand-logo hoverable">&nbsp;<%= APP_TITLE %>&nbsp;</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
          </ul>
        </div>
      </nav>
      </div>

    <main>
    <center>
      <div id="login-page" class="row" style="margin-top:20px;">
        <div class="col m2 l4"></div>
        <div class="col s12 m8 l4 z-depth-6 card-panel hoverable">
            
            <div class="row">
              <div class="input-field col s12 center">
                <ul class="tabs blue">
                  <li class="tab col s6"><a class="white-text active" href="#login">login</a></li>
                  <li class="tab col s6"><a target="_self" href="/signup" class="white-text">Signup</a></li>
                </ul>
              </div>
            </div>
            <div id="login">
            <form class="login-form" method="POST">
              <div class="row">
                <div class="input-field col s12">
                  <!-- show any messages that come back with authentication -->
                  <% if (message.length > 0) { %>
                      <div class="alert alert-danger"><%= message %></div>
                  <% } %>
                  <input class="validate" id="email" name="email" type="email">
                  <label for="email" data-error="Please enter a valid email address" data-success="" class="center-align">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input class="validate" id="password" name="password" type="password">
                  <label for="password" data-error="Please enter a password" data-success="">Password</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <button type="submit" class="btn waves-effect waves-light col s4 right" name="action">Login<i class="material-icons right">send</i></button>
                </div>
              </div>
            </form>
              <div class="row">
                Or Login with<br>
                <div class="col s6"><a href="/auth/facebook" class="waves-effect waves-light btn blue"><span><i class="fa fa-facebook"></i> Facebook</span></a></div>
                <div class="col s6"><a href="/auth/google" class="waves-effect waves-light btn deep-orange"><span><i class="fa fa-google-plus"></i> Google</span></a></div>
              </div>
            </div>

        </div>
      </div>
     
    </center>
    </main>
      
      <!--Import jQuery before materialize.js-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    </body>
  </html>